/**
* File: autoreport.css
* Author: R S Devi Prasad
* Path: assets/custom/auterport.css
* Purpose: contains all the css for the autoreport page
* Date: 06-06-2017
*/

p {
    margin: 10px 0;
}

#hideColumn {
    width: 900px;
    margin: 0 auto;
    padding: 0 40px;
}

#hideColumn label + label {
    margin: 0 10px;
}

#char_div {
    width: 100%;
}

.HighlightDiv {
    text-align: center;
    width: 100%;
    margin: -10px 0 20px 0;
    border: 1px solid #cccccc;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.HighlightTopHeader {
    margin: -10px 0 20px 0;
    border: 1px solid #cccccc;
}

fieldset {
    padding: 0;
    margin: auto;
    border: 1px solid #cccccc;
}

#highlightData {
    width: 92%;
    margin: 20px auto;
    text-align: left;
}

.highlightHeader {
    width: 99%;
    margin: 0 auto;
}

.subjectStyle {
    color: #455075;
    background-color: #ffffff;
    margin-bottom: auto;
}

.deleteSymbol {
    cursor: pointer;
    display: inline-block;
    float: right;
    margin-top: -10px;
    margin-right: -15px;
}

.bodyStyle p {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

.tinyMceStyle{
    width: 95%;
    margin: 0 auto;
}

.Highlight {
    margin-bottom: 5px;
}

.subjectHeader {
    display: inline-block;
}

.HighlightSubject {
    width: 300px;
    height: 30px;
    padding: 6px;
}

.save-btn {
    float: right;
    right: 30px;
    font-size: 14px;
    font-weight: bold;
    margin: 20px 10px 0 0;
    position: absolute;
    color:#1c94c4;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    background-color: #fafafa;
}

.old {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.hr-color {
    background-color: #d52d30;
}

.oldHeading {
    display: inline;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #1d5176;
}

#updateData {
    visibility: hidden;
}
.color-red {
    color: #d52d30;
}

.color-blue {
    color: #1d5176;
}

.color-brown {
    color: #474747;
}

.name {
    color: #3dc3ea;
}

.title {
    font-size: 29px;
}

.title-end {
    font-weight: 100;
}

.company-name {
    font-weight: 150;
    font-size: 27px;
}

.logo {
    font-size: 45px;
    color: #1a75cf;
    padding-right: 15px;
}

.logo h2 {
    margin: 0;
    float: right;
}

hr {
    font-weight: 400;
    border: none;
    height: 2px;
    background-color: #1d5176;
    margin-bottom: 10px;
}

.right-col {
    margin-left: 5px;
}

.detail-heading {
    background-color: #1d5176;
    padding: 3px;
    color: #ffffff;
}

.rating {
    background-color: #00cc00;
    padding: 3px;
    color: #1d5176;
}

.company-url {
    margin-bottom: 15px;
}

.company-url a,
.company-url a:hover,
.company-url a:active {
    text-decoration: none;
}

.score {
    padding: 2px;
    background-color: #22bde8;
}

.display-panel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 5px;
}

.header-bar {
    background-color: #d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}

.content {
    display: none;
    padding: 5px;
    border: 1px solid #cccccc;;
    margin-top: -5px;
}

.content-inside {
    display: none;
    padding: 5px;
}

.top-header {
    margin-top: 10px;
}

.header {
    background-color: #d52d30;
    padding: 3px;
    margin-bottom: 5px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}

.header p {
    display: inline;
}

.pull-right {
    float: right !important;
}

.analytical-text {
    width: 100%;
}

#add-analysis {
    width: 50px;
    margin: 5px auto;
}



/* code for spinning loader icon */
.overlay-loader{
    opacity: 0.5;
    pointer-events: none;
}

/*.loader {
    position: fixed;
    left: 45%;
    top: 40%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}*/

.loader {
  position: fixed;
    left: 46%;
    top: 50%;
    z-index: 2000;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid red;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}