/**
* File: autoreport.css
* Author: R S Devi Prasad
* Path: assets/custom/auterport.css
* Purpose: contains all the css for the autoreport page
* Date: 06-06-2017
*/

.HighlightDiv {
    text-align: center;
    width: 100%;
    margin: 10px 0 0 0;
    border: 1px solid;
    position: relative;
}

.Highlight {
    margin-bottom: 5px;
}

.subjectHeader {
    display: inline-block;
}

.HighlightSubject {
    width: 300px;
    height: 30px;
    padding: 6px;
}

.save-btn {
    float: right;
    right: 10px;
    margin: 10px 10px 0 0;
    position: absolute;
}

.old {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.old h5 {
    display: inline;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #1d5176;
}

#updateData {
    visibility: hidden;
}
.color-red {
    color: #d52d30;
}

.color-blue {
    color: #1d5176;
}

.color-brown {
    color: #474747;
}

.name {
    color: #3dc3ea;
}

.title {
    font-size: 29px;
}

.title-end {
    font-weight: 100;
}

.company-name {
    font-weight: 150;
    font-size: 27px;
}

.logo {
    font-size: 45px;
    color: #1a75cf;
    padding-right: 15px;
}

.logo h2 {
    margin: 0;
    float: right;
}

hr {
    font-weight: 400;
    border: none;
    height: 2px;
    background-color: #1d5176;
    margin-bottom: 10px;
}

.right-col {
    margin-left: 5px;
}

.detail-heading {
    background-color: #1d5176;
    padding: 3px;
    color: #ffffff;
}

.rating {
    background-color: #00cc00;
    padding: 3px;
    color: #1d5176;
}

.company-url {
    margin-bottom: 15px;
}

.company-url a,
.company-url a:hover,
.company-url a:active {
    text-decoration: none;
}

.score {
    padding: 2px;
    background-color: #22bde8;
}

.display-panel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 5px;
}

.header-bar {
    background-color: #d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-weight: bold;
}

.content {
    display: none;
    padding: 5px;
}

.top-header {
    margin-top: 10px;
}

.header {
    background-color: #d52d30;
    padding: 3px;
    margin-bottom: 5px;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
}

.header p {
    display: inline;
}

.pull-right {
    float: right !important;
}

.analytical-text {
    width: 100%;
}

#add-analysis {
    width: 50px;
    margin: 5px auto;
}